---
layout: page
---
{% assign posts = site.posts | where: "layout", "post" %}

{% for post in posts %}
    <div>
        <a href="{{post.url}}">
            <h2>{{post.title}}</h2>
        </a>
        <h3>
            by 
            {% for author in post.authors %}
                {% if author.last %} and {% endif %}
                {{ author }}
                {% unless author.last %}, {% endunless %}
            {% endfor %}
        </h3>
        <p>{{post.description}}</p>
    </div>
{% endfor %}