---
layout: page
---
{% assign posts = site.posts | where: "layout", "post" %}
{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}

<h1>{{page.title}}</h1>

{% for post in posts %}
    <div>
        <a href="{{post.url}}">
            <h2>{{post.title}}</h2>
        </a>
        <p class="meta">{{ post.date | date: site.date_format }} • {{ read-time }}

        {% unless post.authors == empty %}
            • {{site.i18n.by}} 
            {% for author in post.authors %}
                {% if forloop.last %} {{site.i18n.and}} {% endif %}
                {{ author }}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        {% endunless %}
        </p>

        <p>{{post.description}}</p>
    </div>
{% endfor %}